[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Tommy
	email = contact@tommytran.io
	signingkey = 25A967C33D210802F7A49380060B29EB996BD9F2
[commit]
	gpgsign = true
[pull]
	rebase = true
[fetch]
	prune = true
